/*=============== PROJECTS ===============*/
.projects{
   background-color: var(--body-color);
   transition: background-color .4s; /* for dark mode */

   &__container{
      row-gap: 2rem;
   }
   &__card{
      padding: 1rem 1rem 2rem;
      background-color: var(--body-color);
      display: flex;
      flex-direction: column;
      transition: background-color .4s;
   }
   &__image{
      position: relative;
      margin-bottom: .75rem;
   }
   &__button{
      position: absolute;
      right: 1rem;
      bottom: -1.5rem;
      padding: 1rem;
   }
   &__content{
      margin-bottom: 1.25rem;
      flex: 1;
   }
   &__subtitle{
      position: relative;
      display: inline-block;
      font-size: var(--small-font-size);
      font-weight: var(--font-medium);
      color: var(--text-color);
      margin-bottom: .75rem;
      padding-left: 1.75rem;

      &::after{
         content: '';
         width: 20px;
         height: 1px;
         background-color: var(--text-color);
         position: absolute;
         top: 50%;
         left: 0;
      }
   }
   &__title{
      font-size: var(--h3-font-size);
      margin-bottom: .75rem;
   }
   &__buttons{
      display: flex;
      align-items: center;
      column-gap: 1rem;
   }
   &__link{
      display: flex;
      align-items: center;
      column-gap: .25rem;
      color: var(--text-color);
      font-size: var(--small-font-size);
      font-weight: var(--font-medium);
      transition: color .4s;
      
      & i{
         font-size: 1rem;
         color: var(--title-color);
         transition: color .4s;
      }
      &:hover,
      &:hover i{
         color: var(--first-color);
      }
   }
   &__cta{
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      margin-top: .5rem;
   }
   &__card:hover{
      background-color: var(--body-color);
   }
}
